* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Box model */
}

body {
  font-family: "Merriweather", serif;
  background-color: #ebf2ff; /* HEX value */
  overflow-x: hidden;
  transition: all 0.5s;
}

button {
  background-color: transparent;
  border: none;
}

section {
  margin: 20px 0;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 9999;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.brand__logo {
  width: 100%;
  height: 100%;
}

.navbar__brand {
  width: 100px;
}

.primary__button {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  padding: 10px;
  color: white;
  border-radius: 4px;
  transition: 1s;
  background-size: 200% auto;
  cursor: pointer;
}

.primary__button:hover {
  background-position: right center;
  color: white;
}

.hero__image__container {
  position: relative;
  width: 100%;
}

.hero__image {
  position: absolute;
  width: 100%;
  right: auto;
  left: auto;
  z-index: 3;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero__image__shape {
  position: absolute;
  right: 2;
  z-index: 2;
}

.hero__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.text__heading {
  font-size: 1.8rem;
  line-height: 2.25rem;
  color: #1d3557;
  font-weight: bold;
}

.video__footage__container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video__footage {
  position: relative;
}

.video__footage::before {
  content: "";
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0.5rem, 0.5rem);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.chef__video {
  width: 100%;
  height: 100%;
}

.video__footage__text {
  margin-top: 2rem;
  color: #1d3557;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}

.food__list__container {
  margin: 2rem 0;
  width: 100%;
  position: relative;
}

.food__menu__card {
  background-color: white;
  width: 100%;
  border-radius: 6px;
}

.food__menu__card__image {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.food__menu__card__title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #1d3557;
  margin: 0.5rem 0;
}
.food__menu__card__restaurants {
  color: #1d3557;
}

.food__menu__card__description {
  padding: 1rem;
}

.food__menu__card__list {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.restaurant__list__container {
  margin-top: 3rem;
}

.restaurant__list__image__container {
  width: 100%;
}

.restaurant__list__row__1 {
  display: flex;
  align-items: baseline;
}
.restaurant__list__row__2 {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.restaurant1,
.restaurant4 {
  border-radius: 4px;
  margin: 0 4px;
  width: 150px;
  height: 80px;
}
.restaurant2,
.restaurant3 {
  border-radius: 4px;
  margin: 0 4px;
  width: 200px;
  height: 100px;
}

@media (min-width: 768px) {
  .hero__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .hero__image {
    margin-top: 2rem;
  }
  .text__heading {
    font-size: 2rem;
    font-weight: 900;
  }
  .food__list__container {
    margin: 5rem 0;
  }

  .food__menu__card__list {
    flex-direction: row;
    padding: 2rem;
  }
  .food__menu__card__list > div:nth-child(2) {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  .food__list__container__diagonal {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: skewY(-5deg);
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    z-index: -3;
  }

  .restaurant__list__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .restaurant__list__text {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 900px;
  }

  .navbar {
    padding: 0 50px;
  }
  .navbar__brand {
    width: 150px;
  }

  .primary__button {
    font-size: 20px;
    padding: 15px 20px;
    font-weight: bold;
  }

  .text__heading {
    font-size: 3rem;
    line-height: 3.2rem;
  }

  .video__footage__text {
    width: 70%;
  }
  .restaurant1,
  .restaurant4 {
    width: 200px;
    height: 120px;
  }
  .restaurant2,
  .restaurant3 {
    width: 280px;
    height: 200px;
  }
  .restaurant__list__image__container {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1250px;
  }
}
